spring:
  application:
    name: eurekaserver
  security:
    basic:
      enable: true
    user:
      name: cursoms-eureka-user
      password: ecok-pass-word-vai1
  profiles:
    active: dev

server:
  port: 8761

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false