spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/avaliador_credito
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true